@use "../base/variables.scss" as *;

.header {

    &__top {
       /*  margin-top: 50px; */
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        height: 100px;
        width: 100px;
    }

    &__icons {
        display: flex;
        justify-content: end;
        gap: 15px;
    }

    a {
        display: block;
        color: $Dark;

        span {
            display: block;
            width: 20px;
            height: 20px;
        }
    }

    &__nav {
        display: none;
    }

    &__menu {
        z-index: 1000;
        padding: 50px 10px;
        width: 100vw;
        height: 100vh;
        background-color: $Light;
        top: 0;
        left:0;
        transform: translatex(-100%);
        position: fixed;
        transition: all 0.3s;

        &-active {
            transform: translatex(0);
        }

        &-link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
        }

        &-close {
            width: 20px;
            height: 20px;

            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: $Dark;

                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateY(8px) rotate(-45deg);
                }
            }
        }

        &-nav {
            margin: 50px 14px;

            ul {
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
        }


    }
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 23px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $Dark ;
    }
}

@media screen and (min-width:768px) {
    .header {
        &__nav {
            margin-top: 20px;
            display: block;

            ul {
                padding-left: 0;
                display: flex;
                justify-content: center;
                gap: 30px;
            }

            li {
                list-style-type: none;

            }
        }

        &__link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $Dark;
            text-decoration: none;
        }

        &__menu {
            display: none;
        }
    }

}

@media screen and (min-width:1920px) {
    .header {
        &__nav {
            margin-top: 36px;
            display: block;
        }

        ul {
            gap: 60px;
        }

        &__logo {
            width: 150px;
            height: 151px;
        }
        &__top {
        margin-top: 40px;
    }

    }
}